<!-- HEADER -->
<app-header></app-header>

<!-- APP MAIN -->

@if (!logged()) {
  <div>
    <h2>Iniciar sesión</h2>
    <input type="text" [ngModel]="username()" (ngModelChange)="username.set($event)" placeholder="introduce tu nombre" />
    <button (click)="login()">Iniciar sesión</button>
  </div>
}

<!-- Si el usuario está logeado, se muestra el layout principal -->
@if (logged()) {

  <!-- Bienvenida -->
  <h2 class="welcome">Bienvenido, {{ username() }}</h2>

  <!-- Layout principal -->
  <div class="layout">

    <!-- Sidebar izquierda -->
    <div class="sidebar">
      <h3>Imágenes</h3>

      <!-- Formulario para subir imágenes -->
      <div>
        <input type="text" placeholder="Introduce nombre imagen" [ngModel]="newImage()" (ngModelChange)="newImage.set($event)" />
        <button class="btn" (click)="addImage()">Agregar imagen</button>
      </div>


      <!-- Si hay imágenes, se muestran las miniaturas -->
      
      @if (imgFiles().length > 0) {
      <!-- Thumbnails -->
      <div class="thumbnails">

        @for (img of imgFiles(); track img; let i = $index) {
          <img
            [src]="'img/' + img"
            (click)="selectImage(i)"
            class="thumb"
          />
        }

      </div>
      
      <!-- Botón de la imagen aleatoria -->
      <button class="btn" (click)="changeRandomImage()">Imagen aleatoria</button>
    }
    </div>
    <!-- Zona derecha -->
    <div class="viewer">

      @if(imgFiles().length > 0) {
      <img [src]="selectedImage" class="big" />
    }
    </div>

  </div>
}

<router-outlet></router-outlet>